@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: teste;
    src: url(../fonts/TerminaTest/TerminaTest-Demi.otf)
    format('opentype')
}

*{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

body{
    background-color: #09040f;
    overflow-x: hidden;
}

.bg-linear{
    background-image: linear-gradient(360deg, #09040f, rgba(0, 0, 0, .5)), linear-gradient(140deg, #ee0c0c, #ff9659 22%, #d73802 38%, #2b2b2b 57%, #011c34 75%, #000);
    height: 800px;
    width: 99vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

header{
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    max-width: 1146px;
    height: 39px;
    margin-top: 55px;
    margin-bottom: 70px;
}

.li_nav{
    padding: 0px 20px;
    margin-bottom: 11px;
}

.first_li{
    padding: 0px 20px;
}
.li-end{
    padding-left: 20;
    padding-right: 5px;
}

.first_li > a{
    padding: 5px 0px;
    color: #ff9659;
    border-bottom: 2px solid #ff9659;
    text-decoration: none;
}

.li_nav > a{
    padding: 4px 0;
    color: white;
    text-decoration: none;
    transition: .2s;
}
.li_nav > a:hover{
    color: #ff9659;
    text-shadow: 0 1px 6px rgba(237,198,255,.5);
}

.section_1{
    max-width: 1145px;
}

.div_left_1{
    padding: 0;
}

.dl1_s1{
    max-width: 500px;
}

.dl1_s1 > h1{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: teste, sans-serif;
    color: #fff;
    font-size: 64px;
    line-height: 120%;
}

.dl1_s2 > h3{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: work sans, sans-serif;
    color: #ff9659;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    max-width: 500px;
    margin-right: auto;
    text-align: left;
}
.dl1_s2 > h3:nth-child(2){
    margin-top: 0;
    margin-bottom: 30px;
    font-family: work sans, sans-serif;
    color: #ff9659;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    max-width: 500px;
    min-width: none;
    margin-right: auto;
    text-align: left;
}


.btn_dl1_s3{
    width: 215px;
    margin-right: 24px;
    margin-left: 0;
    text-align: center;
    height: 52px;
    border-radius: 4px;
    background-color: #d93600;
    font-family: work sans, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.p_dl1_s3{
    color: #ff9659;
    width: 296px;
}

.div_right_1{
    padding: 0;
}

.div_right_1 > iframe{
    margin-bottom: 5px;
}

.section_2{
    margin: auto;
    margin-top: 200px;
    max-width: 1145px;
    height: 430px;
}

.h4_s2{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: work sans, sans-serif;
    color: #d73802;
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.h1_s2{
    margin-top: 0;
    margin-bottom: 8px;
    font-family: teste;
    color: #fff;
    font-size: 40px;
    line-height: 120%;
}

.h3_s2{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: work sans, sans-serif;
    color: #ff9659;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
}

.cards_s2{
    margin-top: 35px;
    padding: 10px;
}

.cards{ 
    padding: 8px;
}

.card{
    border-radius: 10px;
    height: 280px;
    border: 1px solid #28263a;
    background-color: #181628;
}

.card-body{
    padding: 32px 32px;
}

.div_circulo{
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    border-radius: 100px;
    background-color: #2b2b2b;
}

.card-body > div > h5{
    margin-bottom: 16px;
    font-family: work sans, sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
}

.card-body > div > p{
    font-family: work sans, sans-serif;
    color: #ff9659;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
}

@media screen and (max-width: 992px) {

    main{
        margin-right: 32px;
        margin-left: 32px;
    }
    header{
        margin-right: 32px;
        margin-left: 32px;
    }
    
}

@media screen and (max-width: 480px) {

    .dl1_s1 > h1{
        font-size: 40px;
        font-weight: 400;
    }
}